body{ height:100vh; margin:0; }

.container-main{
    display: flex;
    flex-direction: column;
    height:100vh; margin:0; 
}
.header-app{
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.header-links{
  display: flex;
  margin-right: 2%;
  column-gap: 10px;
}
.brand{
  display: flex;
  align-items: center;
}
.brand a{
    color: white;
    font-size:2.5rem;
    font-weight: bold;
    text-decoration: none;
}
.header-links a{
    color:#ffffff;
    text-decoration: none;
}
.header-links a:hover{
    color:orangered;
}
.footer{
    background-color: #232F3E;
    color:#ffffff;
    display: flex;
    margin-top:auto; 
    padding: 0.5rem;
    justify-content: center;
    width:100%;
}

/* HomeScreen */
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.products li{
    /* flex: 0 1 34rem; */
    padding:0;
    margin: 1rem;
    border-bottom: 1px rgb(209, 203, 203) solid;
    list-style-type: none;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 5px;
}
.product-name a{
    font-size:1.6rem;
    text-decoration: none;

}
.product-brand{
    font-size: 1.2rem;
    color:#808080;
}
.product-price{
    font-size: 1.2rem;
    font-weight: bold;
}
.product-image{
    max-width:10rem;
    max-height: 10rem;
}
.product-rating{
margin-bottom: 1rem;
}

/* SideBar */
.brand button{
    font-size: 2rem;
    padding: .5rem;
    background: none;
    border: none;
    color:#ffffff;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    transition: all 0.5s;
    transform: translateX(-30rem);
    width:30rem;
    background-color: #f0f0f0;
    height: 100%;
}
.sidebar.open{
    transform: translateX(0); 
}
.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-header h3{
    margin-left: 0.5rem;
}
.sidebar-close{
    border-radius: 50%;
    border:0.1rem black solid;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

/* ProductDetails */
.details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image{
  width: 60%;
  text-align: center;
  margin: auto;

}
.details-image img{
  max-width: 60%;
  text-align: center;
}

.details-info ul, .details-action ul{
  list-style-type: none; 
  /* padding:0; */
}
.details-info li, .details-action li{
margin-bottom: 1rem;
}

.back-to-result{
  padding:1rem;
}
.details-action{
  border:0.1rem #808080 solid;
  border-radius:0.5rem;
  background-color:#f0f0f0;
  padding:1rem;
}
.details-action ul li:last-child{
display: flex;
flex-direction: column;
}
.button {
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .button:hover {
    border: 0.1rem #404040 solid;
  }
  .button.app-primary {
    background-color: #f0c040;
  }
  .button.secondary {
    background-color: #f0f0f0;
  }
  .text-center {
    text-align: center;
  }  


  /* Cart Section */
  .cart-container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .cart-list-container{
    list-style-type: none;
  }
  .cart-list{
    background-color: white;
    margin: 2%;
    width: 75%;
  }

.cart-item-desc{
  display: flex;
  width:100%
}  

.cart-item{
display: flex;
border-top: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
padding: 12px;
align-items: center;
justify-content: space-between;
}

.cart-item-details {
  /* display: flex;
  flex-direction: column;
  width: 80%;
  padding:5px; */
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}
.cart-item-price{
  font-weight: bold;
}
.cart-image {
  max-width: 15%; /* or any custom size */
  object-fit: contain;
}
.ordered-image img{
  max-width: 15%; 
  object-fit: contain;
}

.cart-action{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 25px;
}
.button-cart-delete{
  color: rgb(93, 93, 231);
  background-color: white;
  border: none;
  cursor: pointer;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

.account-list{
  display: none;
  width: 100px;
}

.account-list.open{
  display: block;
  width: 100px;
  /* position: relative;
  right: -84%; */
  background-color: lightblue;
}

.account-handle{
  display: flex;
  
}


/* order history */

.ordered-container{
  margin:auto;
}

.ordered-body {
  width: 80%;
  margin-left: 10%;
  margin-top: 8%;
  border: 1px #ddd solid;
  border-radius: 4px 4px 0 0;
}
.ordered-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f6f6f6;
}


.head-details{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.left {
  display: flex;
  flex-direction: row;
  /* grid-column-gap: 90px; */
  /* column-gap: 90px; */
  margin-left: 1%;
  /* margin-top: 10px; */
  align-items: center;
}

.order-extras {
  display: flex;
  /* width: 30%; */
  /* justify-content: space-around; */
  margin-right: 5%;
}


.ordered-img{
  width: 12%;
    margin-right: 5%;
}
.ordered-title{

}

.order-price{
  margin-left:5%
}
.left div:first-child{
  margin-right:5%;
}
.order-extras a{
  margin-right: 5%;
}

.modal-body {
  text-align: center;
}

.modal-header {
  justify-content: center !important;
 
}

.modal-success{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border-radius: 18px;
  border: 1px solid white;
}
.modal-success div{
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-loader {
  color:blue;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}